<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="nwKeyboardLock.KeyBoardService">
        <endpoint address="http://192.168.100.139:8080/" binding="basicHttpBinding"
          bindingConfiguration="" name="TylerComputer" contract="nwKeyboardLock.IKeyboard" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
