<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="foo">
        <host>
          <baseAddresses>
          </baseAddresses>
        </host>
        <endpoint address="E1"
        binding="wsDualHttpBinding"
        contract="KeyboardLockHost.IKeyboard"/>
        <endpoint address=""
        binding="customBinding"
        bindingConfiguration="helpPage"
        contract="KeyboardLockHost.IMyHelpPageContract"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="mexBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
 
    <client>
      <endpoint address="E1"
      binding="wsDualHttpBinding"
      bindingConfiguration="b"
      contract="KeyboardLockHost.IKeyboard"
      name="c1"/>
    </client>
    <bindings>
      <customBinding>
        <binding name="helpPage">
          <textMessageEncoding messageVersion ="None" />
          <httpTransport/>
        </binding>
      </customBinding>
      <wsDualHttpBinding>
        <binding name="b"/>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>