<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="foo">
        <endpoint address="E1" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="b"
          contract="nwKeyboardLock.IKeyboard" />
        <endpoint address="" 
                  binding="customBinding" 
                  bindingConfiguration="helpPage"
          contract="nwKeyboardLock.IMyHelpPageContract" />
      </service>
    </services>
    <client>
      <endpoint address="E1" binding="basicHttpBinding" bindingConfiguration="b"
        contract="nwKeyboardLock.IKeyboard" name="c1" />
    </client>
    <bindings>
      <customBinding>
        <binding name="helpPage">
          <textMessageEncoding messageVersion="None" />
          <httpTransport/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="b" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
